---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">

<p>
The carbon footprint of the ICT sector is easily overlooked.
Its environmental impact is largely invisible&mdash;we don’t see the emissions caused by streaming video, training AI models, or storing data in the cloud.
Yet, the ICT sector is already responsible for more greenhouse gas emissions than the aviation industry.
If current trends continue, it could account for 14% of global emissions by 2040.
Clearly, the ICT sector has a major role in achieving climate goals.
</p>

<p>
One way to reduce this impact is by using the computing resources we already have more efficiently.
Recent studies show that in data centres, less than a fifth of available hardware is actually used, meaning vast amounts of energy are spent powering underutilized machines.
To reduce waste, we must write smarter software that better matches workloads to available capacity.
</p>

<p>
Modern computers are composed of many specialized components, designed to excel at specific tasks like 3D rendering or running AI models.
While this boosts performance, it also makes it harder for developers to write software that runs efficiently across all hardware combinations.
The reality is that software developers today face a dizzying mix of hardware types, as well as unpredictable factors like ambient temperature and other competing processes.
</p>

<p>
Although many developers are eager to write greener code, they often lack the tools and knowledge to do so in practice.
That's why we believe the solution lies in automatic and adaptive software systems.
These systems adjust how a program runs based on the specific hardware and the real-time conditions.
This not only reduces the burden on developers, but also leads to smarter and more flexible software that can optimize itself.
By building adaptive energy-aware software, we take a meaningful step toward a more sustainable digital infrastructure that supports our growing reliance on technology.
</p>

</Layout>
