---
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = Object.values(import.meta.glob('./blog/*.mdx', { eager: true }))
  .filter(item => 'date' in item.frontmatter);

posts.sort((a, b) => b.frontmatter.date.valueOf() - a.frontmatter.date.valueOf());
---

<BaseLayout title="Blog">

<ul>
  {
    posts.map((post: any) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ul>

</BaseLayout>
