---
const { text, color = "#3DA542", width = "72px", height = "32px" } = Astro.props;
---

<div class="squircle">{text}</div>

<style>
.squircle {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: {width};
  height: {height};
  padding: 0 0.6rem;

  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  background: #3DA542;

  border-radius: 12px;
  flex-shrink: 0;
  text-align: center;
  white-space: nowrap;
}

</style>
