---
const {
  text,
  date,
  style = '',
} = Astro.props;

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const isDate = date !== undefined;

const dateFormatter = new Intl.DateTimeFormat(lang, {
  day: '2-digit',
  month: 'short',
  year: 'numeric'
});

const displayText = isDate
  ? (typeof date === 'string' ? date : dateFormatter.format(typeof date === 'number' ? new Date(date) : date))
  : text;
---

<span class:list={["squircle", { "squircle-date": isDate }]} style={style}>{displayText}</span>

<style>
.squircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 1lh;
  padding: 0 0.6rem;

  font-size: 0.8rem;
  font-weight: 600;

  color: white;
  background: #3DA542;

  border-radius: 12px;
  flex-shrink: 0;
  text-align: center;
  white-space: nowrap;
}

.squircle-date {
  font-family: var(--font-mono);
}
</style>
