---
import Squircle from './Squircle.astro';

const {
  text,
  date,
  width,
  color = '#3DA542',
} = Astro.props;
---

<li class="timeline-item">
  <div class="timeline-content">
    <Squircle text={text} date={date} width={width} color={color} />
    <slot />
  </div>
</li>

<style>
.timeline-item {
  display: block;
}

.timeline-content :global(p) {
  margin: 0;
}
</style>
