---
import Squircle from './Squircle.astro';

const {
  text,
  date,
  squircle = '',
} = Astro.props;
---

<li class="timeline-item">
  <div class="timeline-content">
    <Squircle text={text} date={date} style={squircle} />
    <slot />
  </div>
</li>

<style>
.timeline-item {
  display: block;
}

.timeline-content::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content :global(.squircle) {
  float: left;
  margin-right: 0.6rem;
  margin-top: 0.31rem;
}

.timeline-content :global(p) {
  margin: 0;
}
</style>
