---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>

  <h1>{frontmatter.title}</h1>

  <p>
  <i>Written by {frontmatter.author}{frontmatter.dur && <i>;&ensp;{frontmatter.dur} read</i>}</i>


  </p>

  <slot />

</BaseLayout>
