---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <style>
      body {
        font-family: system-ui;
        margin: 40px auto;
        max-width: 900px;
        line-height: 1.6;
      }

      nav a {
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </nav>

    <hr />

    <slot />
  </body>
</html>
